h1{
    font-family: helvetica;
    margin-top: 10px;
    margin-left: auto;
    margin-right:auto;
    width: 300px;
}
div{
    background-color: #156;
    padding: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right:auto;
    border: 2px solid;
    width: 400px;
    font-family: helvetica;
    border-radius: 5px;
}